header 
{
    background-color: rgb(0, 0, 0);
    /*Opacity start*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.80;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    /*Opacity end*/
    color: white;
    position: fixed;
    z-index:10;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 12px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo
{
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 4px;
}
header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    list-style: none;
    margin-left: 20px;
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: rgb(255, 255, 255);
    border-radius: 20px;
}
header ul li a:hover
{
    background: rgb(211, 195, 255);
    color: black;
}

.textbox {
    width: 100%;
    height:100vh;
    max-width: 200px;
    background-color: rgb(40, 35, 78);
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 10px black;
    border-radius: 25px;
    margin-left: 7px;
    margin-top: 70px;
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    font-style: bold;
}

.text{
    width: 180px;
    height:55px;
    max-width: 200px;
    margin: 10px;
    padding-top: 5px;
    background-color: rgb(56, 50, 99);
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: normal;
    border-radius: 20px;
    font-size: 17px;
    font-weight: 500;
    position: absolute;
}

.text1{
    width: auto;
    height:55px;
    max-width: 200px;
    margin: 10px;
    margin-top: 445px;
    padding-top: 5px;
    background-color: rgb(255, 204, 0);
    color: rgb(27, 27, 27);
    text-align: center;
    line-height: normal;
    border-radius: 20px;
    font-size: 17px;
    font-weight: 500;
    position: absolute;
    -webkit-text-stroke: #111 0.8px;
}

.navbar{
    width: 50px;
    height: 50px;
}

.maintext{
width: 82%;
height: 100%;
border: 5px solid rgb(29, 24, 53);
background-color: rgb(26, 26, 26);
color: #fff;
padding: 15px;
border-radius: 5px;
margin-left: 215px;
margin-top: 70px;
position: absolute
}


.box1{
    width: 100%;
    height: 100%;
    max-height: 110px;
    max-width: 165px;
    border-radius: 10px;
    margin-top: 75px;
    margin-left: -83px;
    border: 5px solid rgb(0, 0, 0);
    font-size: 25px;
    -webkit-text-stroke: 1.2px;
    position: absolute;
    background-size:cover;
    background-image:url(assets/cubegameunity.png);
}

.box1:hover{
    border: 3px solid rgb(200, 188, 255);

}

.box2{
    width: 100%;
    height: 100%;
    max-height: 110px;
    max-width: 165px;
    border-radius: 10px;
    margin-top: 195px;
    margin-left: -83px;
    border: 5px solid rgb(0, 0, 0);
    position: absolute;
    background-size:cover;
    background-image:url(https://blog.logrocket.com/wp-content/uploads/2022/06/performance-unity-async-await-tasks-oroutines-job-system-burst-compiler.png)
}

.box2:hover{
    border: 3px solid rgb(200, 188, 255);
}

.box3{
    width: 100%;
    height: 100%;
    max-height: 110px;
    max-width: 165px;
    border-radius: 10px;
    margin-top: 315px;
    margin-left: -83px;
    border: 5px solid rgb(0, 0, 0);
    position: absolute;
    background-size:cover;
    background-image:url(https://blog.logrocket.com/wp-content/uploads/2022/06/performance-unity-async-await-tasks-oroutines-job-system-burst-compiler.png)
}

.box3:hover{
    border: 3px solid rgb(200, 188, 255);
}

footer{
    position: absolute;
    background: #111;
    height: 225px;
    width: 99%;
    margin-top: 800px;
    margin-left: 7px;
    padding-top: 40px;
    border-radius: 5px;
    color: #fff;

}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(68, 45, 153);
    font-family: "Roboto", sans-serif;
}